<!DOCTYPE html>
<html lang="en">

<head>
    <title>TinyApp</title>
</head>

<header>
    <% include partials/_header %>
</header>

<body>
    <ul>
        <!-- Add your EJS code here -->
        <% for (key in urls) { %>
            <li>
                <%= key %> -> <%= urls[key] %> 

                        <form method="POST" action="/urls/<%= key %>/delete">
                            <a href="/urls/<%= key %>">EDIT</a>
                            <input type=submit value=delete>
                        </form>
            </li>
            <% } %>
                

    </ul>
</body>

</html>